{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<style>
    .judul {
        text-align : center;
        margin : 25px;
    }
    .nav.nav-pills.nav-justified li a{
        color : black;
    }

</style>

<div class="container">
    <br><br>

    <h1 class="judul">Data Visualization</h1>
    <br><br>

    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('vis_res') }}">Reservation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('vis_trends') }}">Trends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('vis_dep') }}">Deposit Type</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('vis_mrt') }}">Market Segment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('vis_otr') }}">Other</a>
        </li>
    </ul>
</div>
{% endblock %}